
<div class="container mt-4 mb-4 bg-secondary bg-opacity-10">
<button type="button" class="btn btn-primary" onclick="location.href='/asignatura/c'">Crear nueva asignatura</button>
<table class="table table-dark table-striped mt-4 table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Matriculados</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="asignatura:${asignaturas}">
    	<td th:text="${asignatura.id}"></td>
    	<td th:text="${asignatura.nombre}"></td>
    	<td th:text="${asignatura.alumnosMatriculados.size()}"></td>
    	<td>
     		<form method="post" action="/asignatura/u">
     			<button type="submit" class="btn btn-primary">
     			<img src="/img/pencil.svg" width="20" /> 
				</button>
				<input type="hidden" name="asignatura" th:value="${asignatura.id}"/>
			</form>
     	</td>
     	<td>
     		<form method="post" action="/asignatura/dPost">	
     			<button class="btn btn-primary">
     			<img src="/img/trash.svg" width="20" /> 
				</button>
				<input type="hidden" name="asignatura" th:value="${asignatura.id}"/>
			</form>	
     	</td>
    </tr>
  </tbody>
</table>
</div>
