
<div class="container mt-4 mb-4 bg-secondary bg-opacity-10">
<button type="button" class="btn btn-primary" onclick="location.href='/persona/c'">Crea nueva persona</button>
<table class="table mt-4 table-hover">
  <thead class="table table-dark table-striped mt-4 table-hover mt-4">
    <tr>
      <th scope="col">Foto</th>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Fecha de Nacimiento</th>
      <th scope="col">Pais nacimiento</th>
	  <th scope="col">Pais residencia</th>
      <th scope="col">Aficiones gusta</th>
      <th scope="col">Aficiones disgusta</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="persona:${personas}">
   	 <td><img th:src="|/_perfil/foto-${persona.id}|" height="50" width="50" /> </td>
      <td scope="row" th:text="${persona.id}"/>
      <td th:text="${persona.nombre}"/>
      <td th:text="${persona.getEdad()}"/>
      <!--Si ponemos las pipes podemos añadir mas texto-->
      <td th:text="|${persona.nace.nombre}: Total(${persona.nace.nativos.size()})|"/>
      <td th:text="|${persona.vive.nombre}: Total(${persona.vive.residentes.size()})|"/>
      <!--La etiquete th:bloc crea como un pequeño div que no inserta nada en el html-->
      <td><th:block th:each="aficion:${persona.aficionesGusta}" th:text="|${aficion.nombre}, |"/></td>
      <td><th:block th:each="aficion:${persona.aficionesDisgusta}" th:text="|${aficion.nombre}, |"/></td>
      <td>
     	<form method="post" action="/persona/u">
     		<button type="submit" class="btn btn-primary">
     			<img src="/img/pencil.svg" width="20" /> 
			</button>
			<input type="hidden" name="persona" th:value="${persona.id}"/>
		</form>
     </td>
     <td>
     	<form method="post" action="/persona/dPost">	
     		<button class="btn btn-primary">
     			<img src="/img/trash.svg" width="20" /> 
			</button>
			<input type="hidden" name="persona" th:value="${persona.id}"/>
		</form>	
     </td>
    </tr>
  </tbody>
</table>
</div>