
<div class="container mt-4 mb-4 bg-secondary bg-opacity-10">
<button type="button" class="btn btn-primary" onclick="location.href='/profesor/c'">Crea un nuevo profesor </button>
<table class="table mt-4 table-hover">
  <thead class="table table-dark table-striped mt-4 table-hover mt-4">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Dni</th>
      <th scope="col">nombre</th>
      <th scope="col">apellido</th>
	  <th scope="col">Asignaturas imparte</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="profesor:${profesores}">
      <td scope="row" th:text="${profesor.id}"/>
      <td th:text="${profesor.dni}"/>
      <td th:text="${profesor.nombre}"/>
      <td th:text="${profesor.apellido}"/>
      <td><th:block th:each="asignatura:${profesor.asignaturasImparte}" th:text="|${asignatura.nombre}, |"/></td>
      <td>
     	<form method="post" action="/profesor/u">
     		<button type="submit" class="btn btn-primary">
     			<img src="/img/pencil.svg" width="20" /> 
			</button>
			<input type="hidden" name="profesor" th:value="${profesor.id}"/>
		</form>
     </td>
     <td>
     	<form method="post" action="/profesor/dPost">	
     		<button class="btn btn-primary">
     			<img src="/img/trash.svg" width="20" /> 
			</button>
			<input type="hidden" name="profesor" th:value="${profesor.id}"/>
		</form>	
     </td>
    </tr>
  </tbody>
</table>
</div>