
<div class="container mt-4 mb-4 bg-secondary bg-opacity-10">
<button type="button" class="btn btn-primary" onclick="location.href='/alumno/c'">Crea un nuevo alumno </button>
	<form>
		<label for="filtro">Filtro:</label>
		<input type="text" name="f" id="filtro">
	</form>

<table class="table mt-4 table-hover">
  <thead class="table table-dark table-striped mt-4 table-hover mt-4">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Dni</th>
      <th scope="col">nombre</th>
      <th scope="col">apellido</th>
	  <th scope="col">Asignaturas estudia</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="alumno:${alumnos}">
      <td scope="row" th:text="${alumno.id}"/>
      <td th:text="${alumno.dni}"/>
      <td th:text="${alumno.nombre}"/>
      <td th:text="${alumno.apellido}"/>
      <td><th:block th:each="asignatura:${alumno.asignaturasMatriculado}" th:text="|${asignatura.nombre}, |"/></td>
      <td>
     	<form method="post" action="/alumno/u">
     		<button type="submit" class="btn btn-primary">
     			<img src="/img/pencil.svg" width="20" /> 
			</button>
			<input type="hidden" name="profesor" th:value="${alumno.id}"/>
		</form>
     </td>
     <td>
     	<form method="post" action="/alumno/dPost">	
     		<button class="btn btn-primary">
     			<img src="/img/trash.svg" width="20" /> 
			</button>
			<input type="hidden" name="profesor" th:value="${alumno.id}"/>
		</form>	
     </td>
    </tr>
  </tbody>
</table>
</div>