
<div class="container mt-4 mb-4 bg-secondary bg-opacity-10">
	<div class="row mb-4">
	<h1 class="display-6 col-12 mb-4">Crea tu Asignatura</h1>
	<form action="/asignatura/cPost" method="post" class="col-12">
		<div class="form-row mb-4">
			<div class="col-12">
				<label for="nom">Nombre de la asignatura:</label>
				<input type="text" name="nom" id="nom" required="required" class="form-control" placeholder="Nombre"/>
			</div>
		</div>
		 <button class="btn btn-primary col-5" type="submit">Crear</button>
	</form>
</div>
</div>